.a {
  margin: 2rem;
  top: 30px;
  width: 150px;
  height: 150px;
  border-radius: 30px;
  background-color: rgb(18, 74, 138);
}

.b {
  margin: 2rem;
  top: 30px;
  width: 150px;
  height: 150px;
  border-radius: 30px;
  background-color: rgb(35, 150, 50);
}
.c {
  margin: 2rem;
  top: 30px;
  width: 150px;
  height: 150px;
  border-radius: 30px;
  background: linear-gradient(to right, red, orange, yellow, green, blue);
}
