

<ion-content>
  <h1 style="text-align: center">Elije un usuario</h1>

  <ion-card class="a" (click)="home()">
    <ion-card-header>
      <ion-card-title style="text-align: center;top: 3rem;color: #000000; font-size: 25px;">David</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card class="b" (click)="invitado()">
    <ion-card-header>
      <ion-card-title style="text-align: center;top: 3rem;color: #000000; font-size: 25px;">Invitado</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card class="c"  (click)="kids()" >
    <ion-card-header>
      <ion-card-title style="text-align: center;top: 3rem;color: #000000; font-size: 25px;">Kids</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>
