<ion-header>
  <ion-toolbar>
    <ion-chip color="secondary" slot="end" (click)="salir()">
      <ion-icon name="caret-back-outline"></ion-icon>
      <ion-label color="dark">Salir</ion-label>
    </ion-chip>
    
    <ion-title>David</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar *ngIf="identity == 'kids' "(ionChange)="searchMoviesKids($event)"></ion-searchbar>
  <ion-searchbar *ngIf="identity == 'administrador' "(ionChange)="searchMovies($event)"></ion-searchbar>

  <ion-item *ngFor="let m of movies" align="center">
    <ion-card >
      <img [src]="m.poster_path | imagen" alt="">
      <ion-text>
        <h1 style="text-align: center;">{{m.title}}</h1>
      </ion-text>
    </ion-card>
  </ion-item>
  
</ion-content>
