<ion-header>
  <ion-toolbar>
    <ion-chip color="secondary" slot="end" (click)="salir()">
      <ion-icon name="caret-back-outline"></ion-icon>
      <ion-label color="dark">Salir</ion-label>
    </ion-chip>
    
    <ion-title  *ngIf="identity == 'administrador' ">David</ion-title>
    <ion-title  *ngIf="identity == 'kids' ">KIDS</ion-title>

  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">

<ion-grid>
  <ion-row>
    <ion-col>
      <h3>Peliculas Nuevas</h3>
    </ion-col>
  </ion-row>
</ion-grid>
<app-slide-show-backdrop *ngIf="identity == 'administrador'" [movies]="movies"></app-slide-show-backdrop>
<app-slide-show-backdrop *ngIf="identity == 'kids'" [movies]="moviesKids"></app-slide-show-backdrop>



<ion-grid>
  <ion-row>
    <ion-col>
      <h3>Carteleras</h3>
    </ion-col>
  </ion-row>
</ion-grid>
<app-slideshow-poster *ngIf="identity == 'administrador' " [movies] = "movies"></app-slideshow-poster>
<app-slideshow-poster *ngIf="identity == 'kids' " [movies] = "moviesKids"></app-slideshow-poster>


<ion-grid fixed  *ngIf="identity == 'administrador' ">
  <ion-row>
    <ion-col>
      <h3>Populares</h3>
    </ion-col>
  </ion-row>
</ion-grid>
<app-slide-show-pares  *ngIf="identity == 'administrador' "  [movies] = "popularMovies" (cargarMas) = "cargarMas()"></app-slide-show-pares>

</ion-content>
